build-receiving_side-Desktop-Debug/
build-sending_side-Desktop-Debug/
receiving_side/receiving_side.pro.user.79fab72
sending_side/sending_side.pro.user.79fab72
receiving_side/receiving_side.pro.user
sending_side/sending_side.pro.user

